html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

section,
form {
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 2rem auto;
    max-width: 40rem;
}

.form-control {
    margin: 0.5rem 0;
}

input {
    font: inherit;
}

input,
label {
    display: block;
}

label {
   font-weight: bold;
   margin-bottom: 0.5rem; 
}

button {
    background-color: #2f005a;
    border: 1px solid #2f005a;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

button:hover,
button:active {
    background-color: #50005a;
    border-color: #50005a;
}